.profile-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 260px;
}

.profile-card {
  width: 500px;
  padding: 30px;
  border-radius: 12px;
  background: #1e1e2f;
  color: white;
}

.profile-info p {
  margin: 15px 0;
  font-size: 18px;
}

.profile-actions{
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.edit-name > *{
  padding: 10px;
  margin-right: 2px;
}
.profile-btn {
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.logout-btn {
  background: crimson;
  color: white;
}

@media (max-width:767px) {
  .profile-container{
    margin-left:0%;
  }
  
}

@media (max-width:550px) {
  .profile-card {
  width: 310px;
}
 .edit-name > *{
  padding: 8px;
  margin-right: 1px;
}
.profile-btn {
  padding: 8px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.profile-info p {
  margin: 15px 0;
  font-size: 16px;
}
}